/next-env.d.ts
/dist
/node_modules
/tsconfig.tsbuildinfo
/.next
/.generated
/src/app.original
/src/app/*/ee/

/cypress/videos/
/cypress/screenshots/
/cypress/results/*

/prisma/database/
/prisma/generated/

/.idea/.idea.mnestix-frontend.dir/.idea/

/.env
!.env.local
/.env*.local
/cypress-artifacts