networks:
  mnestix-network:
    driver: bridge
    name: mnestix-network

volumes:
  mnestix-database:
  mnestix-mongodb-data:

services:
  mnestix-browser:
    container_name: mnestix-browser
    image: mnestix/mnestix-browser:dev #update after v2 version release to mnestix/mnestix-browser:2.0.0
    profiles: ['', 'frontend', 'tests']
    build:
      dockerfile: Dockerfile
      target: production
    ports:
      - '3000:3000'
    environment:
      REGISTRY_API_URL: 'https://aas-registry:8083/' # 'https://registry.dpp40-2-v2.industrialdigitaltwin.org/'
      SUBMODEL_REGISTRY_API_URL: 'http://submodel-registry:8084'
      DISCOVERY_API_URL: 'http://mnestix-proxy:5065/discovery'
      AAS_REPO_API_URL: 'http://mnestix-proxy:5065/repo'
      SUBMODEL_REPO_API_URL: 'http://mnestix-proxy:5065/repo'
      CONCEPT_DESCRIPTION_REPO_API_URL: 'http://mnestix-proxy:5065/repo'
      MNESTIX_BACKEND_API_URL: 'http://mnestix-proxy:5065'
      MNESTIX_BACKEND_API_KEY: ${MNESTIX_BACKEND_API_KEY:-verySecureApiKey}
      AAS_LIST_FEATURE_FLAG: 'true'
      TRANSFER_FEATURE_FLAG: 'false'
      COMPARISON_FEATURE_FLAG: 'true'
      PRODUCT_VIEW_FEATURE_FLAG: 'false'
      AUTHENTICATION_FEATURE_FLAG: 'false'
      LOCK_TIMESERIES_PERIOD_FEATURE_FLAG: 'true'
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET:-verySecureNextAuthSecret}
      SECRET_ENC_KEY: ${SECRET_ENC_KEY:-J+mMxwKo+aoFJ6uxMv6Acv54buuBir2EJ3z6LGFB+Vo=} # needs to be secure, can be generated by: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
      IMPRINT_URL: ''
      DATA_PRIVACY_URL: ''
      BASYX_RBAC_ENABLED: 'false'
    networks:
      - mnestix-network
    volumes:
      - mnestix-database:/app/prisma/database

  mnestix-proxy:
    image: mnestix/mnestix-proxy:1.0.0
    container_name: mnestix-proxy
    profiles: ['', 'proxy', 'backend', 'tests']
    ports:
      - '5065:5065'
    environment:
      # API key authorization
      CustomerEndpointsSecurity__ApiKey: ${MNESTIX_BACKEND_API_KEY:-verySecureApiKey}
      # Connection to Repository Service:
      ReverseProxy__Clusters__mnestixApiCluster__Destinations__destination1__Address: 'http://mnestix-api:5064/'
      ReverseProxy__Clusters__aasRepoCluster__Destinations__destination1__Address: 'http://aas-environment:8081/'
      ReverseProxy__Clusters__submodelRepoCluster__Destinations__destination1__Address: 'http://aas-environment:8081/'
      ReverseProxy__Clusters__discoveryCluster__Destinations__destination1__Address: 'http://aas-discovery:8081/'
      # InfluxDB Configuration
      # URL to specify the host and port where InfluxDB is running:
      ReverseProxy__Clusters__influxCluster__Destinations__destination1__Address: 'http://example/'
      # Token:
      ReverseProxy__Routes__InfluxRoute__Transforms__1__Set: 'Token '
      # ASP.NET Core URLs
      ASPNETCORE_URLS: 'http://+:5065'
    networks:
      - mnestix-network

  mnestix-api:
    image: mnestix/mnestix-aas-generator:1.0.0
    container_name: mnestix-api
    profiles: ['', 'backend', 'tests']
    environment:
      # API key authorization
      CustomerEndpointsSecurity__ApiKey: ${MNESTIX_BACKEND_API_KEY:-verySecureApiKey}
      # Connection to Repository Service:
      ReverseProxy__Clusters__aasRepoCluster__Destinations__destination1__Address: 'http://aas-environment:8081/'
      ReverseProxy__Clusters__submodelRepoCluster__Destinations__destination1__Address: 'http://aas-environment:8081/'
      ReverseProxy__Clusters__discoveryCluster__Destinations__destination1__Address: 'http://aas-discovery:8081/'
      # Features Configuration
      Features__AasRegistryMiddleware: 'true'
      Features__UseMongoDbBasedAasIdStorage: 'true'
      Features__AllowRetrievingAllShellsAndSubmodels: 'true'
      Features__UseAuthentication: 'false'
      # InfluxDB Configuration
      # URL to specify the host and port where InfluxDB is running:
      ReverseProxy__Clusters__influxCluster__Destinations__destination1__Address: 'http://example/'
      # Token:
      ReverseProxy__Routes__InfluxRoute__Transforms__1__Set: 'Token '
      # MongoDB Configuration
      BasyxDbConnectionConfiguration__MongoConnectionString: 'mongodb://mongoAdmin:mongoPassword@mongodb:27017/?authSource=admin'
      BasyxDbConnectionConfiguration__DatabaseName: basyxdb
      BasyxDbConnectionConfiguration__AasCollectionName: 'aas-repo'
      # ASP.NET Core URLs
      ASPNETCORE_URLS: 'http://+:5064'
      # ServerUrls
      ServerUrls: 'http://mnestix-proxy:5065/repo/'
    depends_on:
      aas-environment:
        condition: service_healthy # only after the healthcheck in aas is successful, the mnestix container is being created
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '100m'
    networks:
      - mnestix-network

  mongodb:
    image: mongo:8
    container_name: mongodb
    profiles: ['', 'basyx', 'tests']
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoAdmin
      MONGO_INITDB_ROOT_PASSWORD: mongoPassword
    # Set health checks to wait until mongo has started
    healthcheck:
      test: echo "db.runCommand("ping").ok" | mongosh mongodb:27017/test --quiet
      interval: 3s
      timeout: 3s
      retries: 5
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '100m'
    networks:
      - mnestix-network
    volumes:
      - mnestix-mongodb-data:/data/db

  aas-environment:
    image: eclipsebasyx/aas-environment:2.0.0-milestone-06
    container_name: aas-environment
    profiles: ['', 'basyx', 'tests']
    depends_on:
      - mongodb
    environment:
      # MongoDb configuration for Basyx Repository
      BASYX__BACKEND: MongoDB
      SPRING__DATA__MONGODB__HOST: mongodb
      SPRING__DATA__MONGODB__DATABASE: basyxdb
      SPRING__DATA__MONGODB__authentication-database: admin
      SPRING__DATA__MONGODB__USERNAME: mongoAdmin
      SPRING__DATA__MONGODB__PASSWORD: mongoPassword
      SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE: 100000KB
      SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE: 100000KB
      # Allow mnestix frontend and backend to call basyx
      BASYX_CORS_ALLOWED-ORIGINS: '*'
      BASYX_CORS_ALLOWED-METHODS: GET,POST,PATCH,DELETE,PUT,OPTIONS,HEAD
    healthcheck: # check the endpoint for a valid response (service ready)
      test: curl -f http://localhost:8081/actuator/health
      interval: 10s
      timeout: 15s
      retries: 8
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '100m'
    networks:
      - mnestix-network

  aas-discovery:
    image: eclipsebasyx/aas-discovery:2.0.0-milestone-06
    container_name: aas-discovery
    profiles: ['', 'basyx', 'tests']
    depends_on:
      - mongodb
    environment:
      BASYX__BACKEND: MongoDB
      SPRING__DATA__MONGODB__HOST: mongodb
      SPRING__DATA__MONGODB__DATABASE: basyxdb
      SPRING__DATA__MONGODB__authentication-database: admin
      SPRING__DATA__MONGODB__USERNAME: mongoAdmin
      SPRING__DATA__MONGODB__PASSWORD: mongoPassword
      BASYX__CORS__ALLOWED-ORIGINS: '*'
      BASYX__CORS__ALLOWED-METHODS: GET,POST,PATCH,DELETE,PUT,OPTIONS,HEAD
    healthcheck: # check the endpoint for a valid response (service ready)
      test: curl -f http://localhost:8081/actuator/health
      interval: 30s
      timeout: 10s
      retries: 6
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '100m'
    networks:
      - mnestix-network

  aas-registry:
    image: eclipsebasyx/aas-registry-log-mongodb:2.0.0-milestone-06
    container_name: aas-registry
    profiles: ['', 'basyx']
    ports:
      - '8083:8080'
    depends_on:
      - mongodb
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongoAdmin:mongoPassword@mongodb:27017/?authSource=admin
      BASYX__CORS__ALLOWED-ORIGINS: '*'
      BASYX__CORS__ALLOWED-METHODS: GET,POST,PATCH,DELETE,PUT,OPTIONS,HEAD
    healthcheck: # check the endpoint for a valid response (service ready)
      test: curl -f http://localhost:8080/actuator/health
      interval: 30s
      timeout: 10s
      retries: 6
    networks:
      - mnestix-network

  submodel-registry:
    image: eclipsebasyx/submodel-registry-log-mongodb:2.0.0-milestone-06
    container_name: submodel-registry
    profiles: ['', 'basyx']
    ports:
      - '8084:8080'
    depends_on:
      - mongodb
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongoAdmin:mongoPassword@mongodb:27017/?authSource=admin
      BASYX__CORS__ALLOWED-ORIGINS: '*'
      BASYX__CORS__ALLOWED-METHODS: GET,POST,PATCH,DELETE,PUT,OPTIONS,HEAD
    healthcheck: # check the endpoint for a valid response (service ready)
      test: curl -f http://localhost:8080/actuator/health
      interval: 10s
      timeout: 10s
      retries: 6
    networks:
      - mnestix-network
